# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/node_modules/

## Sass ##
.sass-cache

## Codekit ##
.codekit-cache
config.codekit

## Min ##
/js/min
/bower_components/zepto/.bower.json
/bower_components/zepto/component.json
/bower_components/zepto/composer.json
/bower_components/zepto/zepto.js
/bower_components/zepto/zepto.min.js
