doctype html
html
	head
		title Hours
		link(rel="stylesheet" href="css/hours.css")
	body
		.listbox
			ul
				li
					span Hours
				li Monday
				li Tuesday
				li Wednesday
				li Thursday
				li Friday
				li Saturday
				li Sunday
			ul
				li#open-close
				li 9:00am to 6:00pm
				li 9:00am to 6:00pm
				li 9:00am to 6:00pm
				li 9:00am to 6:00pm
				li 9:00am to 8:00pm
				li 9:00am to 8:00pm
				li Closed
		script(type="text/javascript" src="js/zepto.min.js")
		script(type="text/javascript" src="js/hours.js")
